body {
    background-color: #BBBBBB;
}

/* Containers with the information */
.cnt-data {
    border: 1px solid;
    border-radius: 5px;
    padding: 50px;
    background-color: #ffff;
}

/* Textarea for description */
#about {
    resize: none;
}

/* Booton scroll */

#btn-scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 999;
}
