body {
    background-color: #F1F5F9;
    color: rgb(21, 9, 128);
    font-family: Arial, Helvetica, sans-serif;
}

.padre {
    width: 45%;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    /* para que quede todo en el centro */
    box-shadow: 0 0 10px black;
    /* sombra alrededor del cv */
    height: 93vh;
}

.lateral {
    width: 30%;
    height: 93vh;
    background-color: #216b9c;
    margin-left: 3%;
    float: left;
    /* para que se coloque al lado de general */
    color: white;
}

.general {
    width: 100%;
    height: 93vh;
}

.cabecera {
    height: 20%;
    background-color: #003775;
    margin-top: 3%;
    color: white;
}

#foto {
    padding: 15%;
    width: 70%;
    border-radius: 100%;
}

.contacto {
    margin-top: -20%;
}

h1 {
    padding-top: 4%;
    padding-left: 35%;
    font-size: 5vh;
    margin-bottom: 0%;
}

h2 {
    padding-left: 35%;
    font-size: 3vh;
    margin-top: 1%;
}

.h3-general {
    padding-left: 35%;
    font-size: 2.5vh;
}

.h4-general {
    padding-left: 35%;
    font-size: 1.75vh;

}

.p-general {
    padding-left: 35%;
    padding-right: 3%;
    font-size: 1.5vh;
    text-align: justify;
}

#lista-general {
    font-size: 1.5vh;
    padding-left: 37%;
    padding-right: 3%;
}

.hr-general {
    border: 1px solid #003775;
    /* grosor, estilo, color */
    width: 63%;
    margin-left: 35%;
    margin-top: 3%;
}

.hr-lateral {
    border: 1px solid white;
    width: 90%;
    margin-left: 5%;
    margin-top: 11%;
    margin-bottom: 0%;
}

.sobre-mi {
    margin-top: 4%;
}

.h-contacto {
    padding-left: 5%;
    font-size: 2.5vh;
    margin-bottom: 0%;
}

.h-laboral {
    padding-left: 5%;
    font-size: 2.5vh;
    margin-top: 10%;
}

.p-lateral {
    padding-left: 5%;
    margin-right: 5%;
    font-size: 1.5vh;
    height: 1.5%;
    align-items: center;
    /* para que se alinee el texto con el icono */
}

#icono {
    width: 10%;
    vertical-align: middle;
    /* para alinear el icono con el texto vericalmente */
    align-items: center;
}

#lista-lateral {
    font-size: 1.45vh;
    padding-left: 12%;
    margin-right: 5%;
}

.h4-lateral {
    padding-left: 5%;
    font-size: 1.75vh;
    margin-top: -5%;
    margin-bottom: -2%;
}

.SAM {
    margin-top: 5%;
}

a {
    color: white;
}

/* Media queries al reducir pantalla */

@media (max-height: 900px) {
    .padre {
        height: 100%;
        padding: 15px;
    }

    .lateral {
        height: auto;
        width: 35%;
    }

    .general {
        height: auto;
    }

    h1 {
        padding-left: 40%;
        font-size: 3.75vh;
    }

    h2 {
        padding-left: 40%;
        font-size: 2.75vh;
    }

    .h3-general, .p-general {
        padding-left: 40%;

    }

    .h4-general {
        padding-left: 40%;
        font-size: 1.75vh;
    }

    #lista-general {
        padding-left: 47%;

    }

    .hr-general {
        width: 60%;
        margin-left: 40%;
    }

}

/* Media queries para móviles */
@media (max-width: 430px) {
    .padre {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    .lateral {
        width: 100%;
        height: auto;
        margin-left: 0;
        padding-bottom: 5%;
        float: none;
        /* Cambiado a none para que no se coloque al lado, si no arriba de general */
    }

    .general {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 3vh;
        padding-left: 0;
        text-align: center;
    }

    h2,
    .h3-general,
    .h4-general,
    .p-general,
    #lista-general {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 2vh;
    }

    #lista-general {
        padding-left: 11%;
        padding-right: 5%;
        font-size: 2vh;
    }

    h2,
    .h3-general {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 2.9vh;
    }



    .cabecera {
        height: auto;
        margin-top: 2%;
        padding: 10px;
        text-align: center;
    }

    #foto {
        width: 40%;
        padding: 5%;
        display: block;
        /* para que la imagen se convierta en un bloque y funcione el 0 auto del margin*/
        margin: 0 auto;
        /* din margen arriba y abajo y auto a los lados, asi se centra en horizontal */
    }

    .hr-general {
        width: 90%;
        margin-left: 5%;
    }

    .hr-lateral {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .p-lateral {
        padding-left: 5%;
        margin-right: 5%;
        font-size: 2vh;
    }

    .h-contacto {
        padding-left: 5%;
        margin-right: 5%;
        padding-top: 15%;
        font-size: 2.9vh;
    }

    .h-laboral {
        padding-left: 5%;
        margin-right: 5%;
        font-size: 2.9vh;
    }

    .h4-lateral {
        padding-left: 5%;
        margin-right: 5%;
        font-size: 2.3vh;
    }

    #lista-lateral {
        padding-left: 11%;
        margin-right: 5%;
        font-size: 2vh;
    }

    #icono {
        width: 8%;
    }
}

/* Media queries para tablets  */
@media (max-width: 1024px) and (min-width: 600px) {
    .padre {
        width: 95%;
        height: 145vh;
        padding: 15px;
    }

    .lateral {
        width: 43%;
        height: auto;
        /* altura auto para que se adapte al contenido */
        margin-left: 2%;
        float: left;
    }

    .general {
        width: 55%;
        height: auto;
        float: right;
    }

    h1 {
        font-size: 4vh;
        padding-left: 7%;
    }

    h2 {
        font-size: 2.5vh;
        padding-left: 7%;
    }

    .h4-general,
    .p-general,
    #lista-general {
        padding-left: 7%;
        padding-right: 5%;
        font-size: 2vh;
    }

    .h3-general {
        padding-left: 7%;
        padding-right: 5%;
        font-size: 2.9vh;
    }

    #lista-general {
        padding-left: 12.5%;
        padding-right: 5%;
        font-size: 2vh;
    }

    .cabecera {
        height: auto;
        margin-top: 2%;
        padding: 10px;
    }

    #foto {
        width: 60%;
        padding: 10%;
        display: block;
        margin: 0 auto;
    }

    .hr-general {
        width: 90%;
        margin-left: 7%;
    }

    #lista-lateral,
    .p-lateral,
    .h4-lateral {
        font-size: 1.8vh;
    }

    .h-contacto,
    .h-laboral {
        font-size: 3vh;
    }

    #icono {
        width: 8%;
    }
}