/* Body sttles */

body {
    background-color: #F1F5F9;
    color: rgb(21, 9, 128);
    font-family: Arial, Helvetica, sans-serif;
}

/* Main container */

#father {
    width: 45%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px black;
    background-color: white;
    display: flex;
    align-items: stretch;
    gap: 1rem;
    min-height: 93vh;
    height: auto;
    position: relative;
}

/* Left sidebar panel */

.left-sidebar {
    flex: 0 0 35%;
    background-color: #216b9c;
    color: white;
}

/* General panel  */

#general {
    flex: 1;
    padding-left: 0.25rem;
}

/* Title bar */

.title-bar {
    background-color: #003775;
    margin-top: 3%;
    color: white;
    padding-bottom: 3%;
}

/* Fonts */

h1 {
    padding-top: 4%;
    padding-left: 3%;
    font-size: 5vh;
    margin-bottom: 0%;
}

h2 {
    padding-left: 3%;
    font-size: 3vh;
    margin-top: 1%;
}

.h3-general {
    padding-left: 3%;
    font-size: 2.5vh;
}

.h4-general {
    padding-left: 3%;
    font-size: 1.75vh;
}

.p-general {
    padding-left: 3%;
    padding-right: 3%;
    font-size: 1.5vh;
    text-align: justify;
}

#list-general {
    font-size: 1.5vh;
    padding-left: 5%;
    padding-right: 3%;
}

.hr-general {
    border: 1px solid #003775;
    width: 95%;
    margin-left: 3%;
    margin-top: 3%;
}

#about-me {
    margin-top: 4%;
}

/* Photo */

#photo {
    padding: 15%;
    width: 70%;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}

/* Left sidebar */

#contact {
    margin-top: -20%;
}

.title-h {
    padding-left: 5%;
    font-size: 2.5vh;
}

#h-contact {
    margin-bottom: 0%;
}

#h-education, #h-skills {
    margin-top: 15px;
    margin-bottom: 15px;
}

.p-left-sidebar {
    padding-left: 5%;
    margin-right: 5%;
    font-size: 1.5vh;
}

#school {
    margin-bottom: 0px;
}

#start-date-edu {
    margin-top: 0px;
}

.icon {
    width: 10%;
    vertical-align: middle;
}

.list-left-sidebar {
    font-size: 1.45vh;
    padding-left: 12%;
    margin-right: 5%;
}

.h4-left-sidebar {
    padding-left: 5%;
    font-size: 1.75vh;
    margin-top: 10px;
    margin-bottom: -2%;
}

.hr-left-sidebar {
    border: 1px solid white;
    width: 90%;
    margin-left: 5%;
    margin-top: 7px;
}

/* Print button */
#print-btn {
    background: rgb(228, 227, 227);
    border: 1px solid #999;
    color: #333;
    padding: 8px 14px;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

#print-btn:hover {
    background-color: #9cbce5;
}

@media print {
    #print-btn {
        display: none;
    }
}

/* Responsive */

@media (max-height: 900px) {
    #father {
        min-height: auto;
        padding: 15px;
    }

    h1 {
        font-size: 3.75vh;
        padding-left: 3%;
    }

    h2 {
        font-size: 2.75vh;
        padding-left: 3%;
    }

    .h3-general, .p-general, .h4-general {
        padding-left: 3%;
    }

    #list-general {
        padding-left: 6%;
    }

    .hr-general {
        width: 95%;
        margin-left: 3%;
    }
}

/* Responsive movil */

@media (max-width: 430px) {
    #father {
        width: 90%;
        flex-direction: column;
        padding: 10px;
        gap: 0;
    }

    .left-sidebar, #general {
        width: 100%;
    }

    #general {
        padding-left: 0;
    }

    h1 {
        font-size: 3vh;
        padding-left: 0;
        text-align: center;
    }

    h2, .h3-general, .h4-general, .p-general, #list-general {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 2vh;
    }

    #list-general {
        padding-left: 11%;
        padding-right: 5%;
        font-size: 2vh;
    }

    h2, .h3-general {
        font-size: 2.9vh;
    }

    .title-bar {
        margin-top: 2%;
        padding: 10px;
        text-align: center;
    }

    #photo {
        width: 40%;
        padding: 5%;
        display: block;
        margin: 0 auto;
    }

    .hr-general {
        width: 90%;
        margin-left: 5%;
    }

    .hr-left-sidebar {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .p-left-sidebar {
        padding-left: 5%;
        margin-right: 5%;
        font-size: 2vh;
    }

    #h-contact {
        padding-left: 5%;
        margin-right: 5%;
        padding-top: 15%;
        font-size: 2.9vh;
    }

    #h-education {
        padding-left: 5%;
        margin-right: 5%;
        font-size: 2.9vh;
    }

    .h4-left-sidebar {
        padding-left: 5%;
        margin-right: 5%;
        font-size: 2.3vh;
    }

    .list-left-sidebar {
        padding-left: 11%;
        margin-right: 5%;
        font-size: 2vh;
    }

    .icon {
        width: 8%;
    }
}

/* Responsive tablet */

@media (max-width: 1024px) and (min-width: 600px) {
    #father {
        width: 95%;
        gap: 1.5rem;
    }

    .left-sidebar {
        flex: 0 0 43%;
    }

    h1 {
        font-size: 4vh;
        padding-left: 3%;
    }

    h2 {
        font-size: 2.5vh;
        padding-left: 3%;
    }

    .h4-general, .p-general, #list-general {
        padding-left: 3%;
        padding-right: 5%;
        font-size: 2vh;
    }

    .h3-general {
        padding-left: 3%;
        padding-right: 5%;
        font-size: 2.9vh;
    }

    #list-general {
        padding-left: 7%;
        padding-right: 5%;
        font-size: 2vh;
    }

    .title-bar {
        margin-top: 2%;
        padding: 10px;
    }

    #photo {
        width: 60%;
        padding: 10%;
        display: block;
        margin: 0 auto;
    }

    .hr-general {
        width: 95%;
        margin-left: 3%;
    }

    .list-left-sidebar, .p-left-sidebar, .h4-left-sidebar {
        font-size: 1.8vh;
    }

    #h-contact, #h-education {
        font-size: 3vh;
    }

    .icon {
        width: 8%;
    }
}